<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Application</title>
</head>
<body>
    <h1>Iris Django Application</h1>
    <hr>
    <form action="result">
        Sepal LengTh : <input type="number" name="sepal_length" required><br>
        Sepal Width  : <input type="number" name="sepal_width" required><br>
        Petal Length : <input type="number" name="petal_length" required><br>
        Petal Width  : <input type="number" name="petal_width" required><br>
        <input type="submit">
    </form>
</body>
</html>